---
import { Picture } from 'astro:assets';

interface Props {
	title: string;
	path: string;
	imageSrc: string;
	imageAlt: string;
}

const { title, imageAlt, imageSrc, path } = Astro.props;
---

<a href={path} class='group cursor-pointer'>
	<div class='flex md:w-[400px] flex-row justify-end gap-3'>
		<div class='flex w-2/3 flex-col justify-end py-3'>
			<div class='flex justify-end gap-3'>
				<span class='text-nowrap font-semibold text-blue-500'>Next article</span>&gt;
			</div>
			<div class='hidden md:block line-clamp-2 text-right text-lg'>
				{ title }
			</div>
		</div>
		<Picture
			class='hidden md:block size-24 rounded-lg object-cover'
			alt={imageAlt}
			format='webp'
			src={imageSrc}
			width={100}
			height={100}
			loading='eager'
			fetchpriority='high'
		/>
	</div>
</a>
